@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #22d3ee;
  border-radius: 0.2rem;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #297885;
  border-radius: 0.2rem;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #146b9e;
}
